langgraph
langchain
langchain-groq
langchain-openai
fastapi
uvicorn
streamlit
pytest
pydantic
python-dotenv
sqlalchemy
python-multipart
sentence-transformers
chromadb
langchain-chroma
langchain-huggingface
pypdf
python-docx
ddgs
beautifulsoup4
requests
playwright
